.theme-midnightblue #s4-bodyContainer {
    * {
        box-sizing: border-box;
    }

    .container-1920 {
        max-width: 1920px;
        margin: 0 auto;
    }

    // hero
    .hero-container {
        background: url('/executive-education/PublishingImages/skyline.jpg') center/cover;
        height: 800px;
        display: flex;
        align-items: center;
    }

    .hero-content {
        display: flex;
        flex: 1 1 auto;
        background: rgba(0, 87, 183, 0.6);
        flex-direction: column;
        align-items: center;
        color: white;
        text-align: center;
        font-size: 40px;
        line-height: 1;
        padding: 5rem 0 2rem;

        h2 {
            font-size: 60px;
            margin: 0;
        }

        p {
            margin: 0;
            line-height: 3;
        }

        .btns {
            display: flex;
            justify-content: space-between;
            max-width: 600px;
            width: 100%;

            a {
                font-size: 1.2rem;
                max-width: 250px;
                width: 100%;
            }
        }
    }

    // content
    #intro,
    #depaul-difference,
    #development,
    #custom,
    section {
        margin-top: 4rem;
    }

    .highlights {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;

        .hl- {
            &icon {
                width: 65px;
                height: 65px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            &title {
                font-size: 22px;
                font-weight: 600;
                color: #0057b7;
                margin-top: .6rem;
            }

            &text {}
        }
    }
}